{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "ramda"
  ],
  "env": {
    "production": {
      "plugins": [["react-remove-properties", { "properties": ["data-testid"] }]]
    }
  }
}

